<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server" value="c.sg1be7af508fe242089624321e953c0f3c.postgres.database.azure.com" />
		<add key="DatabaseType" value="Citus" />
		<add key="Port" value="5432" />
		<add key="UserID" value="citus" />
		<add key="Password" value="Mosabjonn1814" />
		<add key="SSL" value="Require" />
		<add key="Pooling" value="true" />
		<add key="MinPoolSize" value="0" />
		<add key="MaxPoolSize" value="50" />
	</appSettings>

	<connectionStrings>
		<add name="CosmosDBUserFeedBack" connectionString="Server = c.sg1be7af508fe242089624321e953c0f3c.postgres.database.azure.com; Database = citus; Port = 5432; User Id = citus; Password = Mosabjonn1814; Ssl Mode = Require; Pooling = true; Minimum Pool Size=0; Maximum Pool Size =50" />
	</connectionStrings>
	
</configuration>